body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8fafc;
    color: #0f172a;
    line-height: 1.5;
}
.dd {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.hero{
    background: linear-gradient(to right, #073674, #0f172a);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subtitle{
    font-size: 1.2rem;
    opacity: 0.9;
}
.section{
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;

}
.section h2{
    color: #073674;
    margin-bottom: 10px;
}
img{
    width: 100%;
    border-radius: 12px;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border: 12px solid #e0e7ff;
}
.insight{
    background: #ecfdf5;
    border-left: 5px solid #10b981;
    padding: 12px;
    margin-bottom: 15px;
}
.dd-title{
    text-align: center;
}